<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/icomoon/style.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    
    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>Login #7</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img th:src="@{/images/undraw_remotely_2j6y.svg}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Register now</h3>
              <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
              <div th:if="${error}" th:class="align-items-center">
                <h6 th:text="${error}" th:class="text-danger"></h6>
              </div>
            <form action="#" method="post" th:action="@{/api/users/register}" th:object="${userEntity}">
              <div class="form-group first mb-2">
                <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}">

              </div>
              <div class="form-group first mb-2">
                <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}">

              </div>
              <div class="form-group last mb-2">
                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
              </div>

              <a  th:href="@{/api/users/login}" th:class="text-decoration-none"><input type="button" value="Log In" class="btn btn-block btn-primary text-center"></a>
              <input type="submit" value="Register" class="btn btn-block btn-primary mt-2">
              <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>
              
              <div class="social-login">
                <a href="#" class="facebook">
                  <span class="icon-facebook mr-3"></span> 
                </a>
                <a href="#" class="twitter">
                  <span class="icon-twitter mr-3"></span> 
                </a>
                <a href="#" class="google">
                  <span class="icon-google mr-3"></span> 
                </a>
              </div>
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>


    <script th:src="@{/images/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/images/popper.min.js}" ></script>
    <script th:src="@{/images/bootstrap.min.js}"></script>
    <script th:src="@{/images/main.js}"></script>
  </body>
</html>