<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body >
<div class="container align-items-center flex-column">
    <h1>Welcome to ShopDev</h1>
    <a type="button" class="btn btn-outline-primary" th:href="@{/api/users/login}">Login</a>
    <a type="button" class="btn btn-outline-primary" th:href="@{/api/users/register}">Register</a>
</div>
</body>
</html>