<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!-- Favicon -->
    <link th:href="@{/images/favicon.ico}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link th:href="@{/lib/slick/slick.css}" rel="stylesheet">
    <link th:href="@{/lib/slick/slick-theme.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/stylehome.css}" rel="stylesheet">
</head>

<body>

<div th:replace="home/index::header_home"></div>
<div style="height: 150px;"></div>
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">Checkout</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-inner">
                    <button type="button" class="btn btn-primary mb-2 btn_showformcreateproduct">Create product</button>
                    <div class="billing-address col align-items-center " th:class="formcreateproduct"
                         style="display: none">
                        <h2>Create new product</h2>
                        <form class="col pl-0" th:action="@{/api/products/create}" method="post"
                              th:object="${product}" enctype="multipart/form-data">
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Product name" th:field="*{name}">
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input class="form-control" placeholder="Description"
                                           th:field="*{description}"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Price" th:field="*{costPrice}">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Sale price"
                                       th:field="*{salePrice}">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control w-50" type="number" placeholder="Quantity"
                                       th:field="*{currentQuantity}">
                            </div>
                            <div class="col-md-6">
                                <label>Category</label>
                                <select class="custom-select" th:field="*{categoryId}">
                                    <option selected th:text="${categories.get(0).getName()}"
                                            th:value="${categories.get(0).id}"></option>
                                    <option th:each="category:${categories}" th:text="${category.name}"
                                            th:value="${category.id}">Afghanistan
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Image name" th:field="*{image}">
                            </div>
                            <div class="col-md-6">
                                <label>Choose file image</label>
                                <input type="file" name="imageProduct" id="imageProduct">
                            </div>
                            <button type="submit" class="btn btn-success mt-4">Create</button>
                        </form>

                    </div>
                    <div class="billing-address col align-items-center " th:class="formeditproduct"
                         th:if="${showformedit}">
                        <h2>Edit product</h2>
                        <form class="col pl-0"  method="post" th:action="@{/api/products/edit/(id=${productEdit.id})}"
                              th:object="${product}" enctype="multipart/form-data">
                            <div class="col-md-6">
                                <input class="form-control" type="text" th:placeholder="${productEdit.getName()}" th:field="*{name}">
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input class="form-control" th:placeholder="${productEdit.getDescription()}"
                                           th:field="*{description}"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" th:placeholder="${productEdit.getCostPrice()}" th:field="*{costPrice}">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" th:placeholder="${productEdit.getSalePrice()}"
                                       th:field="*{salePrice}">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control w-50" type="number" th:placeholder="${productEdit.getCurrentQuantity()}"
                                       th:field="*{currentQuantity}">
                            </div>
                            <div class="col-md-6">
                                <label>Category</label>
                                <select class="custom-select" th:field="*{categoryId}">
                                    <option selected th:text="${productEdit.getCategoryEntity().getName()}"
                                            th:value="${categories.get(0).id}"></option>
                                    <option th:each="category:${categories}" th:text="${category.name}"
                                            th:value="${category.id}">Afghanistan
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" placeholder="Image name" th:field="*{image}">
                            </div>
                            <img th:src = "${productEdit.getImage_url()}" style="width: 50px;height: 50px">
                            <div class="col-md-6">
                                <label>Choose file image</label>
                                <input type="file" name="imageProduct">
                            </div>
                            <button type="submit" class="btn btn-success mt-4">Update</button>
                        </form>

                    </div>
                    <h2 th:class="p-4">All products</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>No</th>
                                <th>Product name</th>
                                <th>Descripton</th>
                                <th>Price</th>
                                <th>Sale price</th>
                                <th>Image</th>
                                <th>Quantity</th>
                                <th>Likes</th>
                                <th>Is_Active</th>
                                <th>IS_Delete</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product,index:${allproducts}">
                                <td th:text="${index.count}"></td>
                                <td th:text="${product.getName()}"></td>
                                <td th:text="${product.getDescription()}"></td>
                                <td th:text="${product.getCostPrice()}"></td>
                                <td th:text="${product.getSalePrice()}"></td>
                                <td >
                                    <img th:src = "${product.getImage_url()}" style="width: 50px;height: 50px"/>
                                </td>
                                <td th:text="${product.getCurrentQuantity()}"></td>
                                <td th:text="${product.getLikes()}"></td>
                                <td>
                                    <div type="button" class="btn btn-outline-success"
                                         style="color: #34ce57; border:1.5px solid #34ce57;background: #34ce57;color: black"
                                         th:if="${product.is_actived}"
                                    >Active
                                    </div>
                                    <a th:if="${!product.is_actived}" th:href="@{/api/products/active/(id=${product.getId()})}">
                                        <div type="button" class="btn btn-outline-success"
                                             style="color: #34ce57; border:1.5px solid #34ce57" disabled
                                        >Active
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <div type="button" class="btn btn-outline-success"
                                         style="color: red; border:1.5px solid red;background: red ;color: black"
                                         th:if="${!product.is_actived}"
                                    >Deleted
                                    </div>
                                    <a th:if="${product.is_actived}" th:href="@{/api/products/delete/(id=${product.getId()})}">
                                        <div type="button" class="btn btn-outline-danger"
                                             style="color: red; border:1.5px solid red" disabled
                                        >Deleted
                                        </div>
                                    </a>
                                </td>
                                <td th:class="btneditproduct">
                                    <a th:href="@{/api/products/edit/(id=${product.getId()})}">
                                        <img th:src="@{/images/edit.svg}">
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkout-inner">
                    <div class="checkout-summary">
                        <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Cagory</th>
                            <th scope="col">Number Product</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="count:${countProductByCategory}">
                            <th scope="row" th:text="${categories.get(count.getCategoryId()-1).getName()}"></th>
                            <td th:text="${count.getCount()}">Mark</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->

<!-- Footer Start -->
<!--<div class="footer">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <div class="footer-widget">-->
<!--                    <h2>Get in Touch</h2>-->
<!--                    <div class="contact-info">-->
<!--                        <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p>-->
<!--                        <p><i class="fa fa-envelope"></i>email@example.com</p>-->
<!--                        <p><i class="fa fa-phone"></i>+123-456-7890</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-lg-3 col-md-6">-->
<!--                <div class="footer-widget">-->
<!--                    <h2>Follow Us</h2>-->
<!--                    <div class="contact-info">-->
<!--                        <div class="social">-->
<!--                            <a href=""><i class="fab fa-twitter"></i></a>-->
<!--                            <a href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                            <a href=""><i class="fab fa-linkedin-in"></i></a>-->
<!--                            <a href=""><i class="fab fa-instagram"></i></a>-->
<!--                            <a href=""><i class="fab fa-youtube"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-lg-3 col-md-6">-->
<!--                <div class="footer-widget">-->
<!--                    <h2>Company Info</h2>-->
<!--                    <ul>-->
<!--                        <li><a href="#">About Us</a></li>-->
<!--                        <li><a href="#">Privacy Policy</a></li>-->
<!--                        <li><a href="#">Terms & Condition</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-lg-3 col-md-6">-->
<!--                <div class="footer-widget">-->
<!--                    <h2>Purchase Info</h2>-->
<!--                    <ul>-->
<!--                        <li><a href="#">Pyament Policy</a></li>-->
<!--                        <li><a href="#">Shipping Policy</a></li>-->
<!--                        <li><a href="#">Return Policy</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row payment align-items-center">-->
<!--            <div class="col-md-6">-->
<!--                <div class="payment-method">-->
<!--                    <h2>We Accept:</h2>-->
<!--                    <img th:src="@{/images/payment-method.png}" alt="Payment Method"/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <div class="payment-security">-->
<!--                    <h2>Secured By:</h2>-->
<!--                    <img th:src="@{/images/godaddy.svg}" alt="Payment Security"/>-->
<!--                    <img th:src="@{/images/norton.svg}" alt="Payment Security"/>-->
<!--                    <img th:src="@{/images/ssl.svg}" alt="Payment Security"/>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/slick/slick.min.js"></script>

<!-- Template Javascript -->
<script src="/images/main.js"></script>
<script>
    getUserNameFromCookie()
</script>
</body>
</html>
